/build/
.classpath
.project
/.settings/
/.settings/*
/bin/

.project
.metadata
.classpath
.settings/
.loadpath

/yedamFinalProject/build/
/yedamFinalProject/.classpath
/yedamFinalProject/.project
/yedamFinalProject/.settings/
/yedamFinalProject/.settings/*
/yedamFinalProject/bin/